/* === HOME === */
.homepage {
  height: 100%;
}

.welcome {
  color: var(--primary);
  font-size: 48px;
  margin: 1rem 0 1rem 0;
}

.table-wrapper {
  margin-bottom: 2rem;
}

.table-wrapper table {
  background-color: white;
  margin: 0 auto 1rem auto;
  color: var(--primary);
}

.list-daftar {
  background: var(--primary);
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
  font-weight: 500;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.link-daftar {
  color: white;
  transition: var(--transition);
}

.link-daftar:hover {
  color: var(--secondary-hover);
}

/* === PESERTA === */
.peserta-page h1,
.details-wrapper {
  margin: 2rem 0 1rem 0;
}

/* === KELAS === */
.kelas-option {
  width: fit-content;
  display: flex;
  justify-content: center;
  gap: 28rem;
  align-items: flex-start;
  margin: 1rem auto;
  /* border: 1px solid red; */
}

.buat-kelas {
  background: var(--secondary);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: var(--transition);
}

.buat-kelas:hover {
  background: var(--secondary-hover);
}

.buat-kelas a {
  color: var(--primary);
  font-weight: 500;
}

.filter-kelas h4 {
  text-align: left;
  color: var(--primary);
}

.list-filter-kelas {
  background-color: white;
  width: fit-content;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
  font-weight: 500;
  border-radius: 10px;
  text-align: left;
}

.list-filter-kelas a {
  color: var(--primary);
  transition: var(--transition);
}

.list-filter-kelas a:hover {
  color: var(--primary-hover);
}

.kelas-baru-form,
.ubah-kelas-form,
.buat-sesi-kls-form {
  background: white;
  width: 450px;
  margin: 0 auto;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
}

.kelas-baru-form input,
textarea,
select {
  display: block;
  width: 100%;
  /* margin: 0 auto; */
}

.kelas-baru-form input[type='text'],
input[type='time'],
textarea,
input[type='number'] {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid var(--gray-light);
  border-radius: 25px;
}

.kelas-baru-form select {
  color: var(--primary);
  font-weight: 500;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid var(--gray-light);
  border-radius: 25px;
}

.kelas-baru-form input[type='submit'] {
  background-color: var(--secondary);
  width: 8rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  color: var(--primary);
  font-weight: 500;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: var(--transition);
}

.kelas-baru-form input[type='submit']:hover {
  background-color: var(--secondary-hover);
}

.ubah-kelas-form input,
textarea,
select {
  display: block;
  width: 100%;
  /* margin: 0 auto; */
}

.ubah-kelas-form input[type='text'],
input[type='time'],
textarea,
input[type='number'] {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid var(--gray-light);
  border-radius: 25px;
}

.ubah-kelas-form select {
  color: var(--primary);
  font-weight: 500;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid var(--gray-light);
  border-radius: 25px;
}

.ubah-kelas-form input[type='submit'] {
  background-color: var(--secondary);
  width: 8rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  color: var(--primary);
  font-weight: 500;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: var(--transition);
}

.ubah-kelas-form input[type='submit']:hover {
  background-color: var(--secondary-hover);
}

.buat-sesi-kls-form input,
textarea,
select {
  display: block;
  width: 100%;
  /* margin: 0 auto; */
}

.buat-sesi-kls-form input[type='text'],
input[type='time'],
textarea,
input[type='number'] {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid var(--gray-light);
  border-radius: 25px;
}

.buat-sesi-kls-form input[type='submit'] {
  background-color: var(--secondary);
  width: 8rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  color: var(--primary);
  font-weight: 500;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: var(--transition);
}

.buat-sesi-kls-form input[type='submit']:hover {
  background-color: var(--secondary-hover);
}

.kelas-baru-page button {
  background-color: var(--secondary);
  width: 8rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0 1rem 0;
  color: var(--primary);
  font-weight: 500;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: var(--transition);
}

.kelas-baru-page button:hover {
  background-color: var(--secondary-hover);
}

.kelas-baru-details {
  background: var(--primary);
  color: white;
  text-align: left;
  margin-top: 1.5rem;
  padding: 1rem 2.5rem;
}

.deskripsi-kelas-page a {
  background: white;
  width: fit-content;
  margin: 0 1rem;
  padding: 1rem;
  border-radius: 10px;
  color: var(--primary);
  font-weight: 500;
}

.deskripsi-kelas-page .ambil-btn {
  background-color: var(--secondary);
  width: 8rem;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0 1rem 0;
  color: var(--primary);
  font-weight: 500;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: var(--transition);
}

.deskripsi-kelas-page .ambil-btn:hover {
  background-color: var(--secondary-hover);
}

.deskripsi-kelas-details {
  background: white;
  width: fit-content;
  padding: 1rem;
  margin: 0 auto 1.5rem auto;
  border-radius: 10px;
}

.hapus-kls-btn {
  /* background-color: var(--secondary); */
  border: none;
  border-radius: 25px;
  color: var(--primary);
  padding: 0.5rem 1rem;
  margin: 1rem;
  font-weight: 600;
  font-size: 1rem;
  transition: var(--transition);
}

.hapus-kls-btn:hover {
  background-color: var(--secondary-hover);
  color: var(--primary-hover);
}

/* .lihat-link {
  background: none !important;
} */

.nilai {
  width: fit-content;
  margin: 2rem auto;
  padding: 1rem;
  background: var(--primary);
  color: white;
  font-weight: 500;
  border-radius: 10px;
}

/* === GURU === */
.guru-page a {
  color: var(--primary);
  text-decoration: underline;
  transition: var(--transition);
}

.guru-page a:hover {
  color: var(--primary-hover);
  text-decoration: underline;
}

.guru-detail-page h1 {
  color: var(--primary);
  margin-bottom: 1rem;
}

.detail-guru-wrapper {
  background-color: white;
  width: fit-content;
  margin: auto;
  padding: 2rem;
  border-radius: 10px;
}

.detail-guru-wrapper h3 {
  margin-bottom: 1rem;
}

.detail-guru-wrapper button {
  background-color: var(--secondary);
  border: none;
  border-radius: 25px;
  color: var(--primary);
  padding: 0.5rem 1rem;
  font-family: inherit;
  font-weight: 500;
  transition: var(--transition);
}

.detail-guru-wrapper button:hover {
  background-color: var(--secondary-hover);
  color: var(--primary-hover);
}

.buat-guru-form {
  background: white;
  width: 450px;
  margin: 0 auto;
  padding: 1rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 10px;
}

.buat-guru-form input,
textarea,
select {
  display: block;
  width: 100%;
  /* margin: 0 auto; */
}

.buat-guru-form input[type='text'],
input[type='time'],
textarea,
input[type='number'] {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid var(--gray-light);
  border-radius: 25px;
}

.buat-guru-form select {
  color: var(--primary);
  font-weight: 500;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid var(--gray-light);
  border-radius: 25px;
}

.buat-guru-form input[type='submit'] {
  background-color: var(--secondary);
  width: 8rem;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  color: var(--primary);
  font-weight: 500;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: var(--transition);
}

.buat-guru-form input[type='submit']:hover {
  background-color: var(--secondary-hover);
}

.daftar-hadir-page button {
  background-color: var(--secondary);
  border: none;
  border-radius: 25px;
  color: var(--primary);
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  font-family: inherit;
  font-weight: 500;
  transition: var(--transition);
}

.daftar-hadir-page button:hover {
  background-color: var(--secondary-hover);
  color: var(--primary-hover);
}

.daftar-hadir-page .table-wrapper {
  margin-top: 1rem;
}

.daftar-hadir-page .table-wrapper input {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border: 1px solid var(--gray-light);
  border-radius: 25px;
}

.daftar-peserta-page button {
  background-color: var(--secondary);
  border: none;
  border-radius: 25px;
  color: var(--primary);
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  font-family: inherit;
  font-weight: 500;
  transition: var(--transition);
}

.daftar-peserta-page button:hover {
  background-color: var(--secondary-hover);
  color: var(--primary-hover);
}

.daftar-peserta-page .table-wrapper {
  margin-top: 1rem;
}
